.MainArticuleContainer{
    display: flex;
    margin: 0;
    padding: 0px;
    width: 49%;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-end; 
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    transition: transform .2s;
    cursor: pointer;
}

.MainArticuleContainer:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 3px rgb(255, 255, 255);
}
.image{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.label{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
}
.header{
    width: 100%;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px rgb(255, 0, 0);
    background-color: rgb(180, 185, 189);
    background: linear-gradient(90deg, rgb(37, 35, 35) 0%, rgb(173, 48, 48) 46%, rgb(37, 35, 35) 100%);
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 1024px) {
    .MainArticuleContainer{
        width: 100%;
    }

}
@media (max-width: 750px) {
    .MainArticuleContainer{
        width: 100%;
    }
    .label{
        font-size: 0.7rem;
    }
}
