.teamAdminContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.teamAdminOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
    flex-wrap: wrap;
    
}
.teamAdminOptions label{
    display: flex;
    cursor: pointer;
}
